:root {
    --primary-color: #A62639;
    --secondary-color: #222;
    --accent-color1: #a3a3a3;
    --accent-color2: #136f63;
    --accent-color3: #61ff7e;
    --accent-color4: #333;
}

body {
background: var(--secondary-color);
color: white;
font-family: sans-serif;
display: flex;
align-items: center;
flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 5px solid var(--accent-color1);
    width: 575px;
    height: 577px;
    background-color: var(--accent-color4);
}

.hex {
    width: 70px;
    height: 80px;
    background-color: blue;
    clip-path:polygon(
        50% 0%, 100% 25%, 100% 75%,
        50% 100%, 0% 75%, 0% 25%
    );
    margin-bottom: -20px;
}

.hex_row {
    display: flex;
    gap:2px;
}

.hex_row:nth-child(even) {
    margin-left: 35px;
}

.revealed {

}