body {
background: #222;
color: white;
font-family: sans-serif;
display: flex;
align-items: center;
flex-direction: column;
}

.hex_grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 5px solid #a3a3a3;
    width: 575px;
    height: 577px;
    background-color: #333;
}

.hex {
    width: 70px;
    height: 80px;
    background-color: blue;
    clip-path:polygon(
        50% 0%, 100% 25%, 100% 75%,
        50% 100%, 0% 75%, 0% 25%
    );
    margin-bottom: -20px;
}

.hex_row {
    display: flex;
    gap:2px;
}

.hex_row:nth-child(even) {
    margin-left: 35px;
}