:root {
    --primary-color: #a3a3a3;
    --secondary-color: #111111;
    --accent-color1: #333;
    --accent-color2: #6e6e6e;
    --accent-color3: #4c76ad;
}

.gameContent {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#game {
    border: 3px solid var(--secondary-color);
}

.hide {
    display: none;
}

.gameOver {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: rgba(28, 28, 46, 0.5);
}

.gameOver p {
    color: var(--primary-color);
    font-size: 2rem;
}

.gameOver button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 1.2rem;
}

.gameOver button:hover {
    background-color: var(--accent-color1);
}

.score, .highScore {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 50px;
    background-color: var(--accent-color3);
    padding: 10px;
    width: 150px;
    height: 75px;
    border: 3px solid var(--secondary-color);
}

.gameContent section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset {
    width: 75px;
    height: 50px;
    background-color: var(--accent-color3);
}

.reset:hover {
    background-color: #2e5485;
}