:root {
    --primary-color: #a3a3a3;
    --secondary-color: #111111;
    --accent-color1: #333;
    --accent-color2: #6e6e6e;
}

main {
    margin: 50px;
}

.game {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.buttons button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent-color1);
    color: var(--primary-color);
    font-size: 1rem;
}

.board {
    display: flex;
    flex-direction: column;
    border: 8px solid var(--secondary-color);
    width: 600px;
    height: 600px;
    background-color: var(--accent-color1);
    align-content: center;
    flex: 0 0 auto;
}

.cell {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1px;
}

.easyMode {
    width: 58px;
    height: 58px;
    font-size: 1.5rem;
}

.mediumMode {
    width: 38px;
    height: 38px;
}

.hardMode {
    width: 28px;
    height: 28px;
    margin: 1px;
}

.row {
    display: flex;
}

.timerDiv {
    width: 300px;
}

#timer {
    margin: 50px;
    font-size: 3rem;
}

.revealed {
    background-color: #444444;
}

.mine {
    background-color: #d91919;
}

.gameWinConfetti {
    height: 600px;
    position: fixed;
}

.loseExplostion {
    width: 575px;
    /* height: 600px; */
    position: fixed;
    padding-top: 80px;
    padding-bottom: 90px;
}