:root {
    --primary-color: #a3a3a3;
    --secondary-color: #111111;
    --accent-color1: #333;
    --accent-color2: #6e6e6e;
}

body {
background: var(--primary-color);
font-family: sans-serif;
font-size: 20px;
}

h1 {
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.buttons button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent-color2);
    font-size: 1rem;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 8px solid var(--secondary-color);
    width: 575px;
    height: 577px;
    background-color: var(--accent-color1);
    align-content: center;
    flex: 0 0 auto;
}

.hex {
    background-color: #808080;
    clip-path:polygon(
        50% 0%, 100% 25%, 100% 75%,
        50% 100%, 0% 75%, 0% 25%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.easyMode {
    width: 70px;
    height: 80px;
    margin-bottom: -20px;
    font-size: 1.5rem;
}

.mediumMode {
    width: 50px;
    height: 72px;
    margin-bottom: -18px;
}

.hardMode {
    width: 42px;
    height: 60px;
    margin-bottom: -15px;
}

.hex_row {
    display: flex;
    gap:2px;
}

.easyModeRow:nth-child(even) {
    margin-left: 35px;
}

.mediumModeRow:nth-child(even) {
    margin-left: 26px;
}

.hardModeRow:nth-child(even) {
    margin-left:22px;
}

.timerDiv {
    width: 300px;
}

#timer {
    margin: 50px;
    font-size: 3rem;
}

.revealed {
    background-color: #444444;
}

.mine {
    background-color: #d91919;
}

.gameWinConfetti {
    height: 570px;
    position: fixed;
}

.loseExplostion {
    width: 575px;
    position: fixed;
    padding-top: 80px;
    padding-bottom: 90px;
}